<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ServletDemo</display-name>
  <servlet>
    <servlet-name>HellowWorld</servlet-name>
    <servlet-class>HellowWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HellowWorld</servlet-name>
    <url-pattern>/HellowWorld</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doGetDemo</servlet-name>
    <servlet-class>doGetDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doGetDemo</servlet-name>
    <url-pattern>/doGetDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkBox</servlet-name>
    <servlet-class>checkBox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkBox</servlet-name>
    <url-pattern>/checkBox</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Refresh</servlet-name>
    <servlet-class>Refresh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Refresh</servlet-name>
    <url-pattern>/Refresh</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayHeader</servlet-name>
    <servlet-class>DisplayHeader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayHeader</servlet-name>
    <url-pattern>/DisplayHeader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showError</servlet-name>
    <servlet-class>showError</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showError</servlet-name>
    <url-pattern>/showError</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ErrorHandler</servlet-name>
    <servlet-class>ErrorHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorHandler</servlet-name>
    <url-pattern>/ErrorHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HelloForm</servlet-name>
    <servlet-class>HelloForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloForm</servlet-name>
    <url-pattern>/HelloForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReadCookies</servlet-name>
    <servlet-class>ReadCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadCookies</servlet-name>
    <url-pattern>/ReadCookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCookies</servlet-name>
    <servlet-class>DeleteCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCookies</servlet-name>
    <url-pattern>/DeleteCookies</url-pattern>
  </servlet-mapping>
  <servlet>
     <servlet-name>PageRedirect</servlet-name>
     <servlet-class>PageRedirect</servlet-class>
 </servlet>

 <servlet-mapping>
     <servlet-name>PageRedirect</servlet-name>
     <url-pattern>/PageRedirect</url-pattern>
 </servlet-mapping>
  <servlet>
    <servlet-name>SessionTrack</servlet-name>
    <servlet-class>SessionTrack</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTrack</servlet-name>
    <url-pattern>/SessionTrack</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/ErrorHandler</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/ErrorHandler</location>
  </error-page>
  <filter>
    <filter-name>LogFilter</filter-name>
    <filter-class>LogFilter</filter-class>
    <init-param>
      <param-name>test-param</param-name>
      <param-value>Initialization Paramter</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LogFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
</web-app>